#parse('common/top.vm')

<div class="my_top_bar">
    <a href="/demo"  class="home_page">回主页</a>
</div>

<script src="https://cdn.bootcss.com/echarts/4.0.2/echarts.js"></script>
<script type="text/javascript">

</script>


