#parse('common/top.vm')
<style type="text/css">
    .oNum{
        min-width: 30px;
        display: inline-block;
        text-align: center;
    }
    .input-group-addon{
        border-left: none;
    }
</style>
<div class="mainBody main_section" style="background: #fff;">
    <input type="hidden" id="orderStatus" value="$!{orderStatus}">
    <input type="hidden" id="orderId" value="$!{orderId}">
    <input type="hidden" name="estateId" id="estateId" value="$!{estateId}">
    <input type="hidden" name="platformType" id="platformType" value="$!{platformType}">
    <div class="mainNav-cx clearfix"></div>
</div>
<script type="text/template" id="plan">
    <div id="planDiv"></div>
</script>
<script type="text/template" id="htmlTemp">
    <div class='schedule'>
        <div class="header">
            <div class="left">订单号：<span>{{orderNo}}</span></div> 
            <div class="left">生成时间：<span>{{startDate}}</span></div>
            <div style="padding-top: 6px;">{{#checkOutTemp this}}{{/checkOutTemp}}</div>
        </div>      
    </div>
    <form id="roomForm" style="text-align: center;margin-top: 10px">
        <table class="roomTable">
            <colgroup>
                <col width="200">
                <col width="160">
                <col width="160">
                <col width="160">
                <col width="220">
                <col width="160">
            </colgroup>
            <tr>
                <td>
                    <div class="line-div w60">
                        <div class="line-div-label">
                            房型：
                        </div>
                        <div class="line-div-center">
                            <input type="text" disabled class="form-control" value="{{roomType}}">
                        </div>
                    </div>
                </td>
                <td>
                    <div class="line-div w60">
                        <div class="line-div-label">
                            房号：
                        </div>
                        <div class="line-div-center">
                            <input type="text" disabled class="form-control" value="{{roomName}}">
                        </div>
                    </div>
                </td>
                <td>
                    <div class="line-div w60">
                        <div class="line-div-label">
                            房价：
                        </div>
                        <div class="line-div-center">
                            <input type="text" value="{{realRentFee}}" disabled class="form-control">
                        </div>
                    </div>
                </td>
                <td>
                    <div class="line-div w60"  style='display:{{display1}};'>
                        <div class="line-div-label">
                            姓名：
                        </div>
                        <div class="line-div-center">
                             <input type="text" value="{{contactName}}" disabled class="form-control">

                        </div>
                    </div>
                </td>
                <td>
                    <div class="line-div w90"  style='display:{{display1}};'>
                        <div class="line-div-label">
                            交租类型：
                        </div>
                        <div class="line-div-center">
                            <input type="text" value="{{rentTypeName}}" disabled class="form-control">
                        </div>
                    </div>
                </td>
                <td>
                    <div class="line-div w60" style='display:{{display2}}'>
                        <div class="line-div-label">
                            定金：
                        </div>
                        <div class="line-div-center">
                             <input type="text" value="{{downPayment}}" disabled class="form-control">
                        </div>
                    </div>
                </td>
            </tr>
        </table>
        <div class="table-topDiv">
            {{#btnTemp this}}{{/btnTemp}}
        </div>
        <div id="printDiv">
            <div class="gridDiv"></div>
            <div class="table-bottomDiv">
                <span style="padding-left: 20px">账单总金额：<span class="totalFee red">{{totalFee}}</span></span>
                <span style="padding-left: 20px">实收金额：<span class="billFee red">{{billFee}}</span></span>
                <span style="padding-left: 20px">优惠金额：<span class="discountFee red">{{discountFee}}</span></span>
                <span style="padding-left: 20px">未结算：<span class="unpayFee red">{{unpayFee}}</span></span>
            </div>
        </div>
    </form>
</script>

<!-- 生成账单模板 -->
<script type="text/template" id="recordedTemp">
    <form id="tableForm" class="relative">
        <div class="form-inline clearfix" style="padding: 10px 0;">
            <div class="form-group form-group-md">
                <label class="control-label setFeeType">费用类型：<i class="red">*</i></label>
                <select name="type" id="priceType" style="width:180px;">
                    <option value="1">期租金(每期交租费用)</option>
                    <option value="8">水费</option>
                    <option value="9">电费</option>
                    <option value="7">其他</option>
                    <option value="6">退款</option>
                </select>
            </div>
            <div class="form-group form-group-md">
                <label class="control-label setFeeType">房租期数: <i class="red">*</i></label>
                <select name="type" id="priceType" style="width:216px;">
                    <option></option>
                </select>
            </div>
        </div>
        <div class="recordeTempDom"></div>
    </form>
</script>

<!-- 退房 -->
<script type="text/template" id="renderOut">
    <form id="tableForm">
        <div class="form-inline form-group clearfix">
            <label class="col-sm-3" style="padding-left: 0;">
                <input type="radio" name="subType" value="1" checked>
                正常退房(全可退)
            </label>
            <label class="col-sm-3" style="padding-left: 0;">
                <input type="radio" name="subType" value="2">
                违约退房(不退押金)
            </label>
            <label class="col-sm-3" style="padding-left: 0;">
                <input type="radio" name="subType" value="3">
                提前退房(不退房租)
            </label>
            <label class="col-sm-3" style="padding-left: 0;">
                <input type="radio" name="subType" value="4">
                特殊退房(全不退)
            </label>
        </div>
        <div style="border: 1px dashed #ddd; width: 720px; float: left;">
            <table>
                <colgroup>
                    <col width="350">
                    <col width="350">
                </colgroup>
                <tr>
                    <td>
                        <div class="line-div w90">
                            <div class="line-div-label">
                                本期房租：
                            </div>
                            <div class="line-div-center">
                                <div class="input-group">
                                    <input type="text" class="form-control" name="_rentFee"
                                        value="{{rentFee}}" disabled>
                                    <span class="input-group-addon">元</span>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="line-div w90">
                            <div class="line-div-label">
                                退房租：
                            </div>
                            <div class="line-div-center">
                                <div class="input-group">
                                    <input type="text" class="form-control validateNum" name="rentFee"
                                        value="">
                                    <span class="input-group-addon">元</span>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="line-div w90">
                            <div class="line-div-label">
                                押金：
                            </div>
                            <div class="line-div-center">
                                <div class="input-group">
                                    <input type="text" class="form-control" name="_depositFee"
                                        value="{{depositFee}}" disabled>
                                    <span class="input-group-addon">元</span>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="line-div w90">
                            <div class="line-div-label">
                                退押金：
                            </div>
                            <div class="line-div-center">
                                <div class="input-group">
                                    <input type="text" class="form-control validateNum" name="depositFee"
                                        value="">
                                    <span class="input-group-addon">元</span>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="line-div w90">
                            <div class="line-div-label">
                                服务费：
                            </div>
                            <div class="line-div-center">
                                <input type="text" class="form-control" name=""
                                    value="{{serviceChargePriceStr}}" disabled>
                                <input type="hidden" name="_serviceChargePrice"
                                        value="{{serviceChargePrice}}" />
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="line-div w90">
                            <div class="line-div-label">
                                退服务费：
                            </div>
                            <div class="line-div-center">
                                <div class="input-group">
                                     <input type="text" class="form-control validateNum" name="serviceChargePrice"
                                        value="">
                                    <span class="input-group-addon">元</span>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="line-div w90">
                            <div class="line-div-label">
                                收电费：
                            </div>
                            <div class="line-div-center energyFeeItem">
                                <div class="input-group">
                                    <input type="text" class="form-control" name="energyFee"
                                        value="" disabled>
                                    <span class="input-group-btn">                          
                                        <button type="button" class="btn btn-active" style="min-width: initial">
                                            修改
                                        </button>                      
                                    </span>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="line-div w90">
                            <div class="line-div-label">
                                收水费：
                            </div>
                            <div class="line-div-center waterFeeItem">
                                <div class="input-group">
                                    <input type="text" class="form-control" name="waterFee"
                                        value="" disabled>
                                    <span class="input-group-btn">                          
                                        <button type="button" class="btn btn-active" style="min-width: initial">
                                            修改
                                        </button>                      
                                    </span>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr style="height:70px;vertical-align: top;">
                    <td colspan="2">
                        <div class="line-div w90">
                            <div class="line-div-label">
                                备注：
                            </div>
                            <div class="line-div-center">
                                <textarea placeholder="最多150个汉字" id="taContent" rows="3" maxlength="150" 
                                    name='remark'>{{remark}}</textarea>
                                <input type="hidden" name="totalFee" value="" >
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>

        <div class="detail-wrapper">
            <div class="item" style="line-height: 28px;">
                <div class="name">退房租</div>
                <div class="value" id="txt-rentFee"></div>
            </div>
            <div class="item" style="line-height: 28px;">
                <div class="name">退押金</div>
                <div class="value" id="txt-depositFee"></div>
            </div>
            <div class="item" style="line-height: 28px;">
                <div class="name">退服务费</div>
                <div class="value" id="txt-serviceChargePrice"></div>
            </div>
            <div class="item" style="line-height: 28px;">
                <div class="name clearfix">
                    <span class="left">收电费</span>
                    <span class="left btn btn-active" tips="">
                        详情
                    </span>
                </div>
                <div class="value" id="txt-energyFee"></div>
            </div>
            <div class="item" style="line-height: 28px;">
                <div class="name clearfix">
                    <span class="left">收水费</span>
                    <span class="left btn btn-active" tips="">
                        详情
                    </span>
                </div>
                <div class="value" id="txt-waterFee"></div>
            </div>
            <div class="total item" style="line-height: 28px;padding: 1px 5px;">
                <div class="name">总计退款</div>
                <div class="value" id="txt-refundTotal"></div>
            </div>
        </div>
    </form>
    <div class="text" style="color:#999;margin: 10px;">温馨提示：正式退房前，请确认退款的金额</div>
</script>

<!-- 水电费设置 -->
<script type="text/template" id="settingFee">
    <div class="clearfix">
        <form id="setting_form">
            <table>
                <colgroup>
                    <col width="300">
                    <col width="300">
                </colgroup>
                <tr>
                    <td>
                        <div class="line-div w90">
                            <div class="line-div-label">
                                计算方式：
                            </div>
                            <div class="line-div-center">
                                <select class="form-control" name="chargeType">
                                    {{#renderChargType chargeType}}{{/renderChargType}}
                                </select>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="billFeeItem line-div w90">
                            <div class="line-div-label">
                                单价金额：<i class="red">*</i>
                            </div>
                            <div class="line-div-center input-group">
                                <input type="text" class="form-control validateNum postNum" validate
                                    name="costPrice" value="{{costPrice}}">
                                <span class="input-group-addon" style="border-left:0;display: {{display type '0'}}">元/吨</span>
                                <span class="input-group-addon" style="display: {{display type '1'}}">元/度</span>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr class="countFeeType">
                    <td>
                        <div class="line-div w90">
                            <div class="line-div-label">
                                本次抄表：<i class="red">*</i>
                            </div>
                            <div class="line-div-center input-group">
                                <input type="text" class="form-control validateNum postNum" validate {{isDisable isEle}}
                                    name="thisNum" value="{{thisNum}}">
                                <span class="input-group-addon" style="border-left:0;display: {{display type '0'}}">吨</span>
                                <span class="input-group-addon" style="display: {{display type '1'}}">度</span>
                                <span class="input-group-addon editSpan" style="display: {{display isEle '1'}}">自定义</span>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="line-div w90">
                            <div class="line-div-label">
                                 抄表时间：<i class="red">*</i>
                            </div>
                            <div class="line-div-center">
                                <input type="text" id="thisRecordTime" 
                                    validate
                                    name="thisRecordTime" value="{{thisRecordTime}}"
                                    class="icon-calendar form-control Wdate"
                                    onfocus="WdatePicker({
                                        dateFmt:'yyyy-MM-dd HH:mm:ss',isShowClear:true,
                                        onpicked:dateReading
                                    })">
                            </div>
                            <button type="button" class="btn btn-mj getReading" style="position: absolute;right:-85px;display: {{display isEle '1'}}">获取读数</button>
                        </div>
                    </td>
                </tr>
                <tr class="countFeeType">
                    <td>
                        <div class="line-div w90">
                            <div class="line-div-label">
                                上次抄表：<i class="red">*</i>
                            </div>
                            <div class="line-div-center input-group">
                                <input type="text" class="form-control validateNum postNum" validate {{isDisable isEle}}
                                    name="lastNum" value="{{lastNum}}">
                                <span class="input-group-addon" style="border-left:0;display: {{display type '0'}}">吨</span>
                                <span class="input-group-addon" style="display: {{display type '1'}}">度</span>
                                <span class="input-group-addon editSpan" style="display: {{display isEle '1'}}">自定义</span>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="line-div w90">
                            <div class="line-div-label">
                                 抄表时间：<i class="red">*</i>
                            </div>
                            <div class="line-div-center">
                                <input type="text" id="lastRecordTime" 
                                    validate 
                                    name="lastRecordTime" value="{{lastRecordTime}}"
                                    class="icon-calendar form-control Wdate"
                                    onfocus="WdatePicker({
                                        dateFmt:'yyyy-MM-dd HH:mm:ss',isShowClear:true,
                                        onpicked:lastReading
                                    })">
                            </div>
                            <button type="button" class="btn btn-mj oldOrder hide" style="position: absolute;right:-85px">抄表记录</button>
                        </div>
                    </td>
                </tr>
                <tr class="countFeeType">
                    <td>
                        <div class="line-div w90">
                            <div class="line-div-label">
                                总计金额：<i class="red">*</i>
                            </div>
                            <div class="line-div-center input-group">
                                <input type="text" class="form-control validateNum toFixed realPayFee" 
                                    readonly name="" value="{{totalFee}}">
                                <span class="input-group-addon">元</span>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</script>

<!-- 水电费 -->
<script type="text/template" id="renderUtilities">
    <div class="form-inline clearfix">
        <label class="col-sm-3" style="margin-bottom:10px;">
            <input type="radio" checked name="chargeType" value="1">
            计价模式
        </label>
        <label class="col-sm-3" style="margin-bottom:10px;">
            <input type="radio" name="chargeType" value="2">
            固定收费
        </label>
    </div>
    <div class="utilitiesDom"></div>
</script>
<!-- 计价模式 -->
<script type="text/template" id="renderUtilities1">
    <div class="clearfix" style="border:1px dashed #ddd;padding: 10px;">
        <table>
            <colgroup>
                <col width="300">
                <col width="300">
            </colgroup>
            <tr>
                <td>
                    <div class="line-div w90">
                        <div class="line-div-label">
                            账单名称：<i class="red">*</i>
                        </div>
                        <div class="line-div-center">
                            <input type="text" class="form-control" name="billName" validate 
                                value="" maxlength="10">
                        </div>
                    </div>
                </td>
                <td>
                    <div class="line-div w90">
                        <div class="line-div-label">
                            单价金额：<i class="red">*</i>
                        </div>
                        <div class="line-div-center input-group">
                            <input type="text" class="form-control validateNum postNum" validate 
                                name="billFee" value="">
                            <span class="input-group-addon" style="border-left:0;display: {{display value '8'}}">元/吨</span>
                            <span class="input-group-addon" style="display: {{display value '9'}}">元/度</span>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="line-div w90">
                        <div class="line-div-label">
                            本次抄表：<i class="red">*</i>
                        </div>
                        <div class="line-div-center input-group">
                            <input type="text" class="form-control validateNum postNum" validate {{isDisable isEle value}}
                                name="thisNum" value="">
                            <span class="input-group-addon" style="border-left:0;display: {{display value '8'}}">吨</span>
                            <span class="input-group-addon" style="display: {{display value '9'}}">度</span>
                            <span class="input-group-addon editSpan" style="cursor:pointer;display: {{display isEle '1' value}}">自定义</span>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="line-div w90">
                        <div class="line-div-label">
                            抄表时间：<i class="red">*</i>
                        </div>
                        <div class="line-div-center">
                            <input type="text" id="thisRecordTime" name="thisDateStr" 
                                validate
                                class="icon-calendar form-control Wdate"
                                onfocus="WdatePicker({
                                    dateFmt:'yyyy-MM-dd HH:mm:ss',isShowClear:true,
                                    onpicked:dateReading
                                })">
                        </div>
                        <button type="button" class="btn btn-mj getReading" style="position: absolute;right:-85px;display: {{display isEle '1' value}}">获取读数</button>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="line-div w90">
                        <div class="line-div-label">
                            上次抄表：<i class="red">*</i>
                        </div>
                        <div class="line-div-center input-group">
                            <input type="text" class="form-control validateNum postNum" validate {{isDisable isEle value }}
                                name="lastNum" value="">
                            <span class="input-group-addon" style="border-left:0;display: {{display value '8'}}">吨</span>
                            <span class="input-group-addon" style="display: {{display value '9'}}">度</span>
                            <span class="input-group-addon editSpan" style="cursor:pointer;display: {{display isEle '1' value}}">自定义</span>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="line-div w90">
                        <div class="line-div-label">
                            抄表时间：<i class="red">*</i>
                        </div>
                        <div class="line-div-center">
                            <input type="text" id="lastRecordTime" name="lastDateStr"
                                validate 
                                class="icon-calendar form-control Wdate"
                                onfocus="WdatePicker({
                                    dateFmt:'yyyy-MM-dd HH:mm:ss',isShowClear:true,
                                    onpicked:lastReading
                                })">
                        </div>
                        <button type="button" class="btn btn-mj oldOrder hide" style="position: absolute;right:-85px">抄表记录</button>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="line-div">
                        <div class="line-div-label" style="width: 120px;">
                            最迟支付时间：<i class="red">*</i>
                        </div>
                        <div class="line-div-center" style="padding-left: 120px;">
                            <input type="text" id="latestPayTime" name="deadlineDateStr" 
                                class="icon-calendar form-control Wdate"
                                onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',isShowClear:true})">
                        </div>
                    </div>
                </td>
                <td>
                    <div class="line-div w90">
                        <div class="line-div-label">
                            总计金额：<i class="red">*</i>
                        </div>
                        <div class="line-div-center">
                            <div class="input-group left" style="width: 180px">
                                <input type="text" class="form-control validateNum toFixed realPayFee" 
                                    readonly name="" value="">
                                <span class="input-group-addon">元</span>
                            </div>                            
                            <div class="left" style="position:relative;width: 20px;left:5px;top: 2px">
                                <i class="icon-tips-fill"
                                    style="font-size: 20px;color: #2e8ded;" 
                                    tips="实收金额 = 单价金额 *（本次抄表 - 上次抄表）"></i>
                            </div>
                        </div>
                        
                    </div>
                </td>
                
            </tr>
            <tr style="height: 70px;vertical-align: top;">
                <td colspan="2">
                    <div class="line-div w90">
                        <div class="line-div-label">
                            备注：
                        </div>
                        <div class="line-div-center">
                            <textarea placeholder="最多150个汉字" id="taContent" rows="3" maxlength="150" 
                                name='desc' style="">{{desc}}</textarea>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</script>
<!-- 固定收费 -->
<script type="text/template" id="renderUtilities2">
    <div style="border:1px dashed #ddd;">
        <div class="form-inline clearfix" style="margin: 10px 0;">
            <div class="form-group form-group-md col-sm-12">
                <label class="control-label w90">账单名称：<i class="red">*</i></label>
                <input type="text" class="form-control" name="billName" validate value="" maxlength="10">
            </div>
        </div>
        <div class="form-inline clearfix" style="margin: 10px 0;">
            <div class="form-group form-group-md col-sm-12">
                <label class="control-label w90" style="display: {{display value '8'}}">水费：<i class="red">*</i></label>
                <label class="control-label w90" style="display: {{display value '9'}}">电费：<i class="red">*</i></label>
                <div class="input-group">
                    <input type="text" validate class="form-control validateNum" name="billFee" value="">
                    <span class="input-group-addon">元</span>
                </div>
            </div>
        </div>
        <div class="form-inline clearfix" style="margin: 10px 0;">
            <div class="form-group form-group-md col-sm-12">
                <label class="control-label w90">应付时间：<i class="red">*</i></label>
                <input type="text" id="latestPayTime" name="deadlineDateStr" class="icon-calendar form-control Wdate" style="width:200px" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',isShowClear:true})" realvalue="">
            </div>
        </div>
        <div class="form-inline clearfix" style="margin: 10px 0;">
            <div class="form-group form-group-md col-sm-12">
                <label class="control-label w90">备注：</label>
                <textarea placeholder="最多150个汉字" id="taContent" rows="3" maxlength="150" name='desc' style="width: 420px;"></textarea>
            </div>
        </div>
    </div>
</script>

<!-- 房租、其他 -->
<script type="text/template" id="renderOthers">
    <div class="form-inline clearfix">
        <div class="form-group form-group-md col-sm-12" style="padding-left: 0;">
            <label class="control-label w110">账单名称：<i class="red">*</i></label>
            <input type="text" validate class="form-control" name="billName" value="" maxlength="10" disabled="true" style="width: 516px;">
        </div>
    </div>
    <div class="form-inline clearfix" style="margin: 10px 0;">
        <div class="form-group form-group-md col-sm-12" style="padding-left: 0;">
            <label class="control-label w110" style="display: {{display this '1'}}">租金：<i class="red">*</i></label>
            <label class="control-label w110" style="display: {{display this '7'}}">金额：<i class="red">*</i></label>
            <div class="input-group">
                <input type="text" validate class="validateNum" disabled="true" name="billFee" value="" style="width: 100px">
                <span class="input-group-addon">元</span>
            </div>
            <label class="control-label w110">使用时间：<i class="red">*</i></label>
            <input type="text" name="deadlineDateStr" disabled="true" class="icon-calendar form-control Wdate" style="width:120px" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',isShowClear:true})" realvalue="" value="{{deadLineDateStr}}"> -- 
            <input type="text" name="deadlineDateStr" disabled="true" class="icon-calendar form-control Wdate" style="width:120px" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',isShowClear:true})" realvalue="" value="{{deadLineDateStr}}">
        </div>
    </div>
     <div class="form-inline clearfix" style="margin: 10px 0;">
        <div class="form-group form-group-md col-sm-12" style="padding-left: 0;">
            <label class="control-label w110" style="display: {{display this '1'}}">服务费：<i class="red">*</i></label>
            <label class="control-label w110" style="display: {{display this '7'}}">金额：<i class="red">*</i></label>
            <div class="input-group">
                <input type="text" validate class="validateNum" disabled="true" name="billFee" value="" style="width: 100px">
                <span class="input-group-addon">元</span>
            </div>
            <label class="control-label w110">使用时间：<i class="red">*</i></label>
            <input type="text" name="deadlineDateStr" disabled="true" class="icon-calendar form-control Wdate" style="width:120px" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',isShowClear:true})" realvalue="" value="{{deadLineDateStr}}"> -- 
            <input type="text" name="deadlineDateStr" disabled="true" class="icon-calendar form-control Wdate" style="width:120px" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',isShowClear:true})" realvalue="" value="{{deadLineDateStr}}">
        </div>
    </div>
     <div class="form-inline clearfix" style="margin: 10px 0;">
        <div class="form-group form-group-md col-sm-12" style="padding-left: 0;">
            <label class="control-label w110">总计： <i class="red">*</i></label>
            <div class="input-group">
                <input type="text" validate class="validateNum" disabled="true" name="billFee" value="" style="width: 100px">
                <span class="input-group-addon">元</span>
            </div>
            <label class="control-label w110">应付时间：<i class="red">*</i></label>
            <input type="text" id="latestPayTime"  disabled="true" name="deadlineDateStr" class="icon-calendar form-control Wdate" style="width:120px" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',isShowClear:true})" realvalue="" value="{{deadLineDateStr}}">
        </div>
    </div>
    <!-- <div class="form-inline clearfix">
        <div class="form-group form-group-md col-sm-12" style="padding-left: 0;">
            <label class="control-label w110">应付时间：<i class="red">*</i></label>
            <input type="text" id="latestPayTime" name="deadlineDateStr" class="icon-calendar form-control Wdate" style="width:200px" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',isShowClear:true})" realvalue="" value="{{deadLineDateStr}}">
        </div>
    </div> -->
    <div class="form-inline clearfix" style="margin: 10px 0;">
        <div class="form-group form-group-md col-sm-12" style="padding-left: 0;">
            <label class="control-label w110">备注：</label>
            <textarea placeholder="最多150个汉字" id="taContent" disabled="true" rows="3" maxlength="150" name='desc' style="width: 516px;">{{desc}}</textarea>
        </div>
    </div>
</script>

<!-- 退款 -->
<script type="text/template" id="renderRefund">
    <div class="form-inline clearfix" style="margin: 10px 0;">
        <div class="form-group form-group-md col-sm-12" style="padding-left: 0;">
            <label class="control-label w90">退款金额：<i class="red">*</i></label>
            <div class="input-group">
                <input type="text" validate class="form-control validateNum toFixed" name="billFee" value="">
                <span class="input-group-addon">元</span>
            </div>
        </div>
    </div>
    <div class="form-inline clearfix" style="margin: 10px 0;">
        <div class="form-group form-group-md col-sm-12" style="padding-left: 0;">
            <label class="control-label w90">备注：</label>
            <textarea placeholder="最多150个汉字" id="taContent" rows="3" maxlength="150" name='desc' style="width: 425px;"></textarea>
        </div>
    </div>
    <p style="margin-top: 20px;">温馨提示：退房账单不可单笔结账，需要财务确认，和租客沟通后，记得推送给租客哦</p>
</script>

<!-- 单笔结账弹框 -->
<script type="text/template" id="payTemp">
    <form id="payForm">
    <table>
        <colgroup>
            <col width="300">
        </colgroup>
        <tr>
            <td>
                <div class="line-div w90">
                <div class="line-div-label">
                    支付方式：<i class="red">*</i>
                </div>
                <div class="line-div-center">
                    <select name="payType">
                        {{#each this}}
                            <option value="{{type}}">{{typeName}}</option>
                        {{/each}}
                    </select>
                </div>
            </td>
        </tr>

    </table>
    </form>
</script>
<script type="text/javascript">
    seajs.use('controllers/lease/initLeastFinaceDetail')
</script>