#parse('common/top.vm')
#parse('common/header.vm')
#parse('common/left.vm')
<div class="row">
   	<div class="col-md-12 col-sm-12 col-xs-12 window">
     	<div class="x_panel window">
     		<input type="hidden" name="organizationId" value="$!{organizationId}" />
			<ul class="nav nav-tabs">
	        	<li class="active"><a href="javascript:;">统计</a></li>
	        	<li><a href="javascript:;">对账</a></li>
			</ul>
			<div class="tab-content container active" style="padding: 15px;">
				<form id="searchForm1">
					<table>
						<colgroup>
							<col width="110">
							<col width="150">
							<col width="470">
							<col width="180">
						</colgroup>
						<tbody>
							<tr>
								<td>
                                    <div class="line-div">
                                        <div class="line-div-center">
                                            <select name="orgType" class="default form-control">
                                            	<option value="3">个人</option>
                                                <option value="2">公司企业</option>
                                            </select>
                                        </div>
                                    </div>
                                </td>
								<td style="padding-left: 10px;">
                                    <div class="line-div">
                                        <div class="line-div-center">
                                            <select name="organizationId" class="default form-control">
                                                <option value=""></option>
                                            </select>
                                        </div>
                                    </div>
                                </td>
								<td>
									<div class="line-div w75">
										<div class="line-div-label">
											时间范围:
										</div>
										<div class="line-div-center">
											<input type="text" name="finishStartDateStr" class="icon-calendar form-control left Wdate" style="width:45%" id="finishStartDateStr1" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',isShowClear:true,maxDate:'#F{$dp.$D(\'finishEndDateStr1\')}'})">
					                    		<span class="left" style="width:10%">--</span>
					                    	<input type="text" id="finishEndDateStr1" name="finishEndDateStr" class="icon-calendar form-control left Wdate" style="width:45%" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',isShowClear:true,minDate:'#F{$dp.$D(\'finishStartDateStr1\')}'})">
										</div>
									</div>
								</td>
								<td>
									<button type="button" class="left btn btn-mj search">查询</button>
									<button type="button" class="left btn empty">清空</button>
								</td>
							</tr>
						</tbody>
					</table>
				</form>
				<form id="searchForm2" class="hide">
					<table>
						<colgroup>
							<col width="120">
							<col width="120">
							<col width="120">
							<col width="120">
							<col width="100">
							<col width="100">
							<col width="180">
						</colgroup>
						<tbody>
							<tr>
								<td colspan="4">
									<div class="line-div w75">
										<div class="line-div-label">
											出账时间:
										</div>
										<div class="line-div-center">
											<input type="text" name="createStartDateStr" class="icon-calendar form-control left Wdate" style="width:45%" id="createStartDateStr" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',isShowClear:true,maxDate:'#F{$dp.$D(\'createEndDateStr\')}'})">
					                    		<span class="left" style="width:10%">--</span>
					                    	<input type="text" id="createEndDateStr" name="createEndDateStr" class="icon-calendar form-control left Wdate" style="width:45%" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',isShowClear:true,minDate:'#F{$dp.$D(\'createStartDateStr\')}'})">
										</div>
									</div>
								</td>
								<td style="padding-left: 10px;">
                                    <div class="line-div">
                                        <div class="line-div-center">
                                            <select name="housingType" class="default form-control">
                                                <option value="2">分散式</option>
                                                <option value="1">集中式</option>
                                            </select>
                                        </div>
                                    </div>
                                </td>
                                <td style="padding-left: 10px;">
                                    <div class="line-div">
                                        <div class="line-div-center">
                                            <select name="feeType" class="form-control" style="width: 100%;">
                                                <option value=""></option>
                                                <option value="1">房租</option>
                                                <option value="2">押金</option>
                                                <option value="8">水费</option>
                                                <option value="9">电费</option>
                                                <option value="11">定金</option>
                                                <option value="13">服务费</option>
                                                <option value="14">期租金</option>
                                                <option value="15">首期租金</option> 
                                                <option value="7">其他</option> 
                                            </select>
                                        </div>
                                    </div>
                                </td>
                                <td>
									<button type="button" class="left btn btn-mj search">查询</button>
									<button type="button" class="left btn empty">清空</button>
								</td>
                            </tr>
                            <tr>
								<td colspan="4">
									<div class="line-div w75">
										<div class="line-div-label">
											结账时间:
										</div>
										<div class="line-div-center">
											<input type="text" name="finishStartDateStr" class="icon-calendar form-control left Wdate" style="width:45%" id="finishStartDateStr2" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',isShowClear:true,maxDate:'#F{$dp.$D(\'finishEndDateStr2\')}'})">
					                    		<span class="left" style="width:10%">--</span>
					                    	<input type="text" id="finishEndDateStr2" name="finishEndDateStr" class="icon-calendar form-control left Wdate" style="width:45%" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',isShowClear:true,minDate:'#F{$dp.$D(\'finishStartDateStr2\')}'})">
										</div>
									</div>
								</td>
								<td style="padding-left: 10px;">
                                    <div class="line-div-center">
                                        <select  name="payType" class="form-control" style="width: 100%;">
                                            <option value=""></option>
                                            <option value="3">支付宝线上</option>
                                            <option value="4">微信线上</option>
                                        </select>
                                    </div>
                                </td>
								<td colspan="2" style="padding-left: 10px;">
                                    <div class="line-div">
                                        <div class="line-div-center">
                                            <input placeholder="姓名/身份证/账单号/订单号" class="form-control" name="name" style="width: 240px;">
                                        </div>
                                    </div>
                                </td>
							</tr>
							<tr>
								<td>
                                    <div class="line-div">
                                        <div class="line-div-center">
                                            <select name="orgType" class="default form-control">
                                           		<option value="3">个人</option>
                                                <option value="2">公司企业</option>
                                            </select>
                                        </div>
                                    </div>
                                </td>
								<td colspan="2" style="padding-left: 10px;">
                                    <div class="line-div">
                                        <div class="line-div-center">
                                            <select name="organizationId" class="default form-control">
                                                <option value=""></option>
                                            </select>
                                        </div>
                                    </div>
                                </td>
                                <td style="padding-left: 10px;">
                                    <div class="line-div">
                                        <div class="line-div-label"></div>
                                        <div class="line-div-center">
                                            <select name="cityId" class="default form-control">
                                                <option value=""></option>
                                            </select>
                                        </div>
                                    </div>
                                </td>
                                <td style="padding-left: 10px;" class="estateType">
                                    <div class="line-div">
                                        <div class="line-div-label"></div>
                                        <div class="line-div-center">
                                            <select name="areaId" class="default form-control">
                                                <option value=""></option>
                                            </select>
                                        </div>
                                    </div>
                                </td>
                                <td colspan="2" style="padding-left: 10px;">
                                    <div class="line-div">
                                        <div class="line-div-label"></div>
                                        <div class="line-div-center">
                                            <select name="subdistrictId" class="default form-control" style="width: 240px;">
                                                <option value=""></option>
                                            </select>
                                        </div>
                                    </div>
                                </td>
							</tr>
						</tbody>
					</table>
				</form>
				<div class="clearfix">
					<div class="table-topDiv">
						<span class="left contactInfo"></span>
						<span style="margin-right:10px;">当前统计金额： <i class="totalIncome red"></i> </span>
			        </div>
			        <div class="grid_box">
						<div id="gridDiv"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
  	seajs.use('controllers/lease/publicAccountColl.js')
</script>
