/*
	author:Bolin
	date:2017-04-17;
*/
.WdateDiv
{
	position:relative;
	padding:5px;
	width:220px;
	*width:230px;
	font-size:12px;
	color:#333;
	border-radius: 3px;
	box-sizing:border-box;
	background-color:#fff;
	border: 1px solid #dfe3ec;
}

.WdateDiv2
{
	width:360px;
}

.WdateDiv .NavImg a,.WdateDiv .yminput,.WdateDiv .yminputfocus,.WdateDiv #dpQS 
{
	background:url(img.gif) no-repeat;
}

.WdateDiv .NavImg a
{
	float:left;
	width:16px;
	height:16px;
	cursor:pointer;
}
.WdateDiv .NavImgll a
{
	background-position:0px 5px;
}
.WdateDiv .NavImgl a
{
	background-position:0px -10px;
}
.WdateDiv .NavImgr a
{
	background-position:0px -25px;
	float:right;
}
.WdateDiv .NavImgrr a
{
	background-position:0px -40px;
	float:right;
}

.WdateDiv #dpTitle
{
	padding: 5px 0 5px 5px;
	border-bottom: 1px solid #dfe3ec;
	margin-bottom: 5px;
	line-height:0px;
	height:20px;
	*height:23;
}

.WdateDiv .yminput,.WdateDiv .yminputfocus
{
	margin-left:4px;
	width:60px;
	height:20px;
	line-height:16px;
	border:solid 1px #F2F0F1;
	cursor:pointer;
	background-position:45px -68px;
}

.WdateDiv .yminputfocus
{
	background-color:#fff;
	border:solid 1px #D8D8D8;
}

.WdateDiv .menuSel{
	z-index:1;
	position:absolute;
	background-color:#FFFFFF;
	border:#A3C6C8 1px solid;
	display:none;
}

.WdateDiv .menu
{
	background:#fff;
}
.WdateDiv .menuOn
{
	color:#fff;
	background:#4680ff;
}

.WdateDiv .invalidMenu{
	color:#aaa;
}

.WdateDiv .MMenu,.WdateDiv .YMenu
{
	padding:2px;
	margin-top:20px;
	margin-left:-1px;
	width:68px;
	border:solid 1px #dfe3ec;
	box-shadow:  0 1px 6px rgba(0,0,0,0.02)
}
.WdateDiv .MMenu table,.WdateDiv .YMenu table
{
	width:100%;
}
.WdateDiv .MMenu table td,.WdateDiv .YMenu table td
{
	padding:0px;
	line-height:20px;
	text-align:center;
	font-size:12px;
	cursor: pointer;
}

.WdateDiv .Wweek {
 	text-align:center;
	background:#DAF3F5;
	border-right:#BDEBEE 1px solid;
 }

.WdateDiv td
{
	padding:0 6px;
	height: 28px;
	font-size:12px;
	color:#999;
	background:#fff;
	cursor:pointer;
}
.WdateDiv .MTitle td
{
	line-height:24px;
	color:#D4D4D4;
	cursor: default;
}

.WdateDiv .WdayTable2
{
	border-collapse:collapse;
	border:#808080 1px solid;
}
.WdateDiv .WdayTable2 table
{
	border:0;
}

.WdateDiv .WdayTable{
	line-height:20px;	
	color:#13777e;
	background-color:#edfbfb;
}
.WdateDiv .WdayTable td{
	text-align:center;
}

.WdateDiv .Wday
{
	color:#323232;
}

.WdateDiv .WdayOn
{
	color:#fff;
	background-color:#64A3F3;	
}

.WdateDiv .Wwday
{
	color:#65A4F3;
}

.WdateDiv .WwdayOn
{
	color:#fff;
	background-color:#64A3F3;	
}
.WdateDiv .Wtoday
{
	color:#FF6D10;
	background:#E0EDFE;
}
.WdateDiv .Wselday
{
	color:#fff;
	background-color:#4680ff;	
}
.WdateDiv .WspecialDay{
	background-color:#4680ff;
}

.WdateDiv .WotherDay
{ 
	color:#D4D4D4;	
}
.WdateDiv .WotherDayOn
{
	color:#fff;
	background-color:#64A3F3;	
}

.WdateDiv .WinvalidDay{
	color:#aaa;
}

.WdateDiv #dpTime
{
	position:relative;
	margin-top:5px;
}

.WdateDiv #dpTime #dpTimeStr
{
	display:inline-block;
	width:28px;
	*width:30px;
	color:#7d7d7d;
}

.WdateDiv #dpTime input
{
	padding:0px;
	margin:0px;
	width:35px;
	height:20px;
	line-height:20px;
	text-align:center;
	color:#333;
	border:#dfe3ec 1px solid;	
}

.WdateDiv #dpTime .tm
{
	width:10px;
	border:none;
}

.WdateDiv #dpTime #dpTimeUp
{
	display:none;
}

.WdateDiv #dpTime #dpTimeDown
{
	display:none;
}

.WdateDiv #dpQS 
 {
 	float:left;
	margin-right:3px;
	margin-top:9px;
	*margin-top:6px;
	width:16px;
	height:16px;
	cursor:pointer;
	background-position:0px -90px;
 }
.WdateDiv #dpControl 
{
	text-align:right;
	margin-top:5px;
}
.WdateDiv .dpButton
{ 
	margin-left:2px;
	width:45px;
	padding: 3px 0;
    background-color:#4680ff;
    border:0 none;
    border-radius: 3px;
    color:#fff;
	cursor: pointer;
}
.WdateDiv .dpButton:hover
{ 
	background-color:#64A3F3;
}

.WdateDiv .hhMenu,
.WdateDiv .mmMenu,
.WdateDiv .ssMenu
{
	position:absolute;
	padding:3px;
	font-size:12px;
	color:#333;
	border:solid 1px #64A3F3;
	border-radius: 3px;
}

.WdateDiv #dpTime .menu,.WdateDiv #dpTime .menuOn
{
	width:18px;
	height:18px;
	line-height:18px;
	text-align:center;
	background:#fff;
}
.WdateDiv #dpTime .menuOn
{
	background:#4680ff;
}

.WdateDiv #dpTime td
{
	height: auto;
}

.WdateDiv .hhMenu
{
	top:-87px;
	left:35px;
	left:32px\9;
}

.WdateDiv .mmMenu
{
	top:-47px;
	left:35px;
	left:32px\9;
}

.WdateDiv .ssMenu
{
	top:-27px;
	left:35px;
	left:32px\9;
}