#parse('common/top.vm')
#parse('common/header_lease.vm')
<div class="row">
   <div class="col-md-12 col-sm-12 col-xs-12 window L-main">
		<div class="x_title">
			<div class="searchDiv">
				<form id="searchForm">
					<table>
				    	<colgroup>
				    		<col width="340">
				    		<col width="180">
				    		<col width="200">
				    		<col width="200">
				    		<col width="218">
				    	</colgroup>
				    	<tr>
				    		<input type="hidden" name="estateId" value="$!{estateId}">
					        <td>
					            <div class="line-div w75">
					                <div class="line-div-label">合同时间：</div>
					                <div class="line-div-center">
					                    <input type="text" name="startDate" class="form-control left Wdate" style="width:45%" id="startDate" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',isShowClear:true,maxDate:'#F{$dp.$D(\'endDate\')}'})">
					                    <span class="left" style="width:10%"> - </span>
					                    <input type="text" id="endDate" name="endDate" class="form-control left Wdate" style="width:45%" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',isShowClear:true,minDate:'#F{$dp.$D(\'startDate\')}'})">
					                </div>
					            </div>
					        </td>
				    		<td>
					            <div class="line-div w60">
					                <div class="line-div-label">状态：</div>
					                <div class="line-div-center">
					                   <select name="contractStatus" id="">
		                                   <option value="">请选择</option>
		                                   <option value="1">未签约</option>
		                                   <option value="2">已签约</option>
                                           <option value="3">已作废</option>
                                           <option value="4">生成中</option>
		                               </select>
					                </div>
					            </div>
					        </td>
					        <td>
					            <div class="line-div w60">
					                <div class="line-div-label">类型：</div>
					                <div class="line-div-center">
					                   <select name="type" id="">
		                                    <option value="">请选择</option>
		                                    <option value="1">租房</option>
		                                    <option value="5">分期</option>
		                               </select>
					                </div>
					            </div>
					        </td>
					        <td>
					            <div class="line-div" style='margin-left:10px;'>
					                <div class="line-div-center">
					                    <input type="text" name="name"  placeholder='合同号/姓名/身份证/订单号' class="form-control">
					                </div>
					            </div>
					        </td>
					        <td>
					        	<div class="searchBtn">
					        		<button type="button" id="search" class="left btn btn-mj">查询</button>
						        	<button type="button" id="clear" class="left btn">清空</button>
					        	</div>
					        	
					        </td>
				    	</tr>
				    </table>
				</form>
			</div>
		</div>
		<div class='x_content'>
		    <div class="gridBorder">
		    	<div id="gridDiv"></div>
		    </div>
		</div>
</div></div></div>
<!-- 图片渲染 -->
<script type="text/template" id="uploadTypeChioce">
  <p style="line-height: 30px;">请选择上传方式（上传完成后，新生成的合同将覆盖原合同）</p>
  <div class="form-inline clearfix">
      <label class="col-sm-5" style="padding-left: 0;margin-bottom:10px;">
          <input type="radio" checked name="uploadType" value="1">
          上传图片（支持JPG/JPEG/PNG格式）
      </label>
      <label class="col-sm-5" style="padding-left: 0;margin-bottom:10px;">
          <input type="radio" name="uploadType" value="2">
          上传PDF（上传成功后，该窗口将关闭）
      </label>
  </div>
  <div class="uploadTypeDom">
      
  </div>
</script>
<script type="text/template" id="pdfModel">
    <div class="picList">
        <ul class="pic-items">
        </ul>
        <div class="addImgCard" style="width: 100px;height: 100px;line-height: 100px;">
            <i class="icon-plus"></i>
        </div>
    </div>
    <input class="hide" name="pdfFile" id="uploadPdf" type="file" accept="application/pdf">
</script>
<script type="text/template" id="picListModel">
    <div class="picList">
        <ul class="pic-items">
        </ul>
        <label class="addImgCard" for="smallImage" style="width: 100px;height: 100px;line-height: 100px;">
            <input class="hide" id="smallImage" name="smallImage" type="file" 
                accept="image/jpg,image/jpeg,image/png" multiple="multiple">
            <i class="icon-plus"></i>
        </label>
    </div>
</script>
<script type="text/template" id="renderPicList">
{{#each this}}
    <li class="relative pic-item" style="width: 100px;height: 100px;">
        <div class="sortItem">
            <img src="{{this}}" alt="" title="" />
            <span class="pic-model" style="height: 100%;">
                <i class="icon-delete"></i>
                <i class="icon-search"></i>
            </span>
        </div>
    </li>
{{/each}}
</script>
<script type="text/template" id="uploadPic">
    <div class="container" style="max-width: 1140px;">
        {{#each this}}
        <div class="left" style="margin: 10px;">
            <div class="img-container">
                <img src="" alt="" />
            </div>
            <div class="docs-buttons clearfix">
                <div class="btn-group right">
                    <button class="btn btn-mj" data-method="zoom" data-option="0.1" type="button" tips="放大图片" style="min-width:inherit">
                        <span class="icon icon-zoom-in"></span>
                    </button>
                    <button class="btn btn-mj" data-method="zoom" data-option="-0.1" type="button" tips="缩小图片" style="min-width:inherit">
                        <span class="icon icon-zoom-out"></span>
                    </button>
                    <button class="btn btn-mj" data-method="rotate" data-option="45" type="button" tips="顺时针旋转45°" style="min-width:inherit">
                        <span class="icon icon-rotate-right"></span>
                    </button>
                    <label class="btn btn-mj btn-upload" tips="替换图片" style="min-width:inherit">
                        <input type="file" class="hide" name="inputImage" accept="image/jpg,image/jpeg,image/png">
                        <span class="icon icon-uploadFile"></span>
                    </label>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</script>
<script type="text/javascript">
  seajs.use('controllers/lease/initRentContractList.js')
</script>

 
