<!-- page content -->
        <div class="right_col" role="main">
          <div class="right-wrapper">
            <div class="div-notice">
	<div class="msg" onclick="notice()">俄罗斯“卫星”新闻网11月7日报道，美国国家航空航天局(NASA)发布消息称，美国政府开展了应对小行星与地球相撞的指挥演习</div>
	<div class="btn-ntc" onclick="location.href='../production/_homepage.html'">首页</div>
</div>
<div class="block-notice">
	<div class="layer opacity0"></div>
	<div class="popup-div w690hauto">
		<div class="popup-close"></div>
		<div class="popup-tt mb15 orange">公告标签</div>
		<div class="notice-time bb">2016/11/11 15:15:15</div>
		<div class="txt-main mtop10">
			<p>此次演习是在美国国家航空航天局与美国联邦紧急事务管理署(FEMA)共同倡导下进行的。
				演习期间，分析了紧急情况下各机构开展联合行动的准备情况，
				对防止慌乱与保护民众免受灾难后果的行动进行了演练。
				据悉，2020年9月，直径在100米至250米的行星将撞击地球，
				美国加利福尼亚州南部及附近地区都将受到影响。
				美国航天局称，灾难的威胁确实是真实存在的，
				但目前不同于之前任何的历史阶段，人类已经有能力应对灾难并减轻难的后果。</p>
		</div>
	</div>
</div>
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12 window">
                <div class="x_panel window">
                  <div class="x_content">

                    <div class="clearfix gray-bg mb10 pl10 pr10 ">
                      <div class="navbar-left w16 bulk_action"><input type="button" id="check-all" class="btn btn-default btn-select" value="全选"><button type="button" class="btn btn-link city-delete">删除</button></div>
                      <div class="pull-right"><button type="button" class="btn btn-mj" id="new-floor">新增城市</button></div>
                    </div>
                    <div class="city-area">
                      <div class="city table-responsive">
                        <table class="table city-table table-striped jambo_table bulk_action">
                          <tbody>
                          <tr class="">
                            <td class="a-center" width="25%">
                              <input type="checkbox" class="flat"> &nbsp;1
                            </td>
                            <td>杭州市</td>
                          </tr>
                          <tr class="">
                            <td class="a-center" width="25%">
                              <input type="checkbox" class="flat"> &nbsp;2
                            </td>
                            <td>上海市</td>
                          </tr>
                          <tr>
                            <td class="a-center" width="25%">
                              <input type="checkbox" class="flat"> &nbsp;3
                            </td>
                            <td>北京市</td>
                          </tr>
                          <tr>
                            <td class="a-center" width="25%">
                              <input type="checkbox" class="flat"> &nbsp;4
                            </td>
                            <td>南京市</td>
                          </tr>
                          <tr>
                            <td class="a-center" width="25%">
                              <input type="checkbox" class="flat"> &nbsp;5
                            </td>
                            <td>温州市</td>
                          </tr>
                          <tr>
                            <td class="a-center" width="25%">
                              <input type="checkbox" class="flat"> &nbsp;6
                            </td>
                            <td>宁波市</td>
                          </tr>
                          <tr>
                            <td class="a-center" width="25%">
                              <input type="checkbox" class="flat"> &nbsp;7
                            </td>
                            <td>武汉市</td>
                          </tr>
                          <tr>
                            <td class="a-center" width="25%">
                              <input type="checkbox" class="flat"> &nbsp;8
                            </td>
                            <td>成都市</td>
                          </tr>
                          <tr>
                            <td class="a-center" width="25%">
                              <input type="checkbox" class="flat"> &nbsp;9
                            </td>
                            <td>北京市</td>
                          </tr>
                          </tbody>
                        </table>
                      </div>
                      <div class="area">
                        <div class="area-set clearfix">
                          <div class="f16 left"><span class="blue">杭州市</span>-片区设置</div>
                          <div class="pull-right">
                            <a href="JavaScript:void(0)" class="blue add-t-b mr15" onclick="area_add()">添加</a>
                            <a href="#" class="remove-t-b">清空</a>
                          </div>
                        </div>
                        <div class="area-box">
                          <ul class="area-box-list">
                            <li><div class="area-detail">西湖区</div><div class="left area-operation"><a href="#" class="area-a area-edit">编辑</a><a href="#" class="area-a delete">删除</a></div></li>
                            <li><div class="area-detail">西湖区</div><div class="left area-operation"><a href="#" class="area-a area-edit">编辑</a><a href="#" class="area-a delete">删除</a></div></li>
                            <li><div class="area-detail">西湖区</div><div class="left area-operation"><a href="#" class="area-a area-edit">编辑</a><a href="#" class="area-a delete">删除</a></div></li>
                            <li><div class="area-detail">西湖区</div><div class="left area-operation"><a href="#" class="area-a area-edit">编辑</a><a href="#" class="area-a delete">删除</a></div></li>
                            <li><div class="area-detail">西湖区</div><div class="left area-operation"><a href="#" class="area-a area-edit">编辑</a><a href="#" class="area-a delete">删除</a></div></li>
                            <li><div class="area-detail">西湖区</div><div class="left area-operation"><a href="#" class="area-a area-edit">编辑</a><a href="#" class="area-a delete">删除</a></div></li>
                            <li><div class="area-detail">西湖区</div><div class="left area-operation"><a href="#" class="area-a area-edit">编辑</a><a href="#" class="area-a delete">删除</a></div></li>
                            <li><div class="area-detail">西湖区</div><div class="left area-operation"><a href="#" class="area-a area-edit">编辑</a><a href="#" class="area-a delete">删除</a></div></li>
                            <li><div class="area-detail">西湖区</div><div class="left area-operation"><a href="#" class="area-a area-edit">编辑</a><a href="#" class="area-a delete">删除</a></div></li>
                            <li><div class="area-detail">西湖区</div><div class="left area-operation"><a href="#" class="area-a area-edit">编辑</a><a href="#" class="area-a delete">删除</a></div></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <!--Popup delete start-->
          <div class="delete-popup">
            <div class="layer"></div>
            <div class="delete-layer">
              <div class="delete-title">确定删除吗？</div>
                <div class="delete-btn"><a href="#" class="blue border-right d-btn">确定</a><a href="#" class="gray d-btn">取消</a></div>
            </div>
          </div>
          <!--Popup end-->
          <!--popup edit-->
          <div class="block">
            <div class="layer opacity0"></div>
            <div class="popup-div w400h300" style="top: 25%;">
              <div class="popup-close"></div>
              <div class="popup-title mb20">新建城市</div>
              <div class="form-group clearfix mb20">
                <label class="col-sm-4 content-label">城&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;市<span class="required"> *</span>
                </label>
                <div class="col-sm-8 content-text">
                  <input type="text" required="required" class="form-control col-md-7 content-input">
                </div>
              </div>
              <div class="form-group clearfix mb120">
                <label class="col-sm-4 content-label">排&nbsp;&nbsp;序&nbsp;&nbsp;号
                </label>
                <div class="col-sm-8 content-text">
                  <input type="text" required="required" class="form-control col-md-7 content-input">
                </div>
              </div>
              <div class="text-center"><button type="button" class="btn-blue btn-w120">确定</button></div>
            </div>
            <div class="area-div w400h300" style="top: 25%;">
              <div class="popup-close"></div>
              <div class="popup-title mb20">添加片区</div>
              <div class="form-group clearfix mb20">
                <label class="col-sm-4 content-label">城&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;市
                </label>
                <div class="col-sm-8 content-text">
                  <input type="text" required="required" class="form-control col-md-7 content-input">
                </div>
              </div>
              <div class="form-group clearfix mb120">
                <label class="col-sm-4 content-label">片&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;区<span class="required"> *</span>
                </label>
                <div class="col-sm-8 content-text">
                  <input type="text" required="required" class="form-control col-md-7 content-input">
                </div>
              </div>
              <div class="text-center"><button type="button" class="btn-blue btn-w120">确定</button></div>
            </div>
          </div>
          <!--popup-->
        </div>
        <!-- /page content -->