#parse('common/top.vm')
#parse('common/header.vm')
#parse('common/left.vm')
<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12 window">
     <div class="x_panel window">
        <div class="clearfix"></div>
       <div class="x_content">
          <div class="clearfix gray-bg">
            <div class="navbar-left w16 bulk_action">
              <!--<button type="button" class="btn btn-link batchDel">删除</button>-->
            </div>
            <div class="nav navbar-left panel_toolbox">
              <i class="control-f14 navbar-left">公寓：</i>
              <select id="estateId" class="form-control default navbar-left width-auto" >
                 <option value="">请选择</option>
              </select>
            </div>
            <div class="navbar-left pull-right">
               <div class="btn-btn pull-left state-enable  btn-enable">启用</div>
               <div class="btn-btn pull-left state-disable btn-danger btn-disable">停用</div>
            </div>
            <div class="navbar-left pull-right">
               <button type="button" id='addNew' class="btn btn-mj increased ">新增</button>
            </div>
          </div>
          <div id="gridDiv"></div>
       </div>
     </div>
  </div>
</div>
<!--新增/修改房类模板 start-->
<script type="text/template" id="addAndEdit">
<form id='J_form'>
  <table>
    <colgroup>
      <col width="400">
    </colgroup>
	<tr>
	  <td>
	      <div class="line-div w90">
	        <div class="line-div-label">
	            房型：<i class="red">*</i>
	        </div>
	        <div class="line-div-center">
              <select name='id' id='typeId'>
              </select>
	        </div>
	      </div>
	      <div class="line-div w90">
	        <div class="line-div-label">
	            交租名称：<i class="red">*</i>
	        </div>
	        <div class="line-div-center">
               <select name='rentTypeId'>
               </select>
	        </div>
	      </div>
	      <div class="line-div w90">
	        <div class="line-div-label">
	           优惠类型：<i class="red">*</i>
	        </div>
	        <div class="line-div-center">
               <select name='discountType'>
                   {{#selected discountType}}{{/selected}}
               </select>
	        </div>
	      </div>
	      <div class="line-div w90">
	        <div class="line-div-label">
	            优惠额：<i class="red">*</i>
	        </div>
	        <div class="line-div-center " id='input_dis'>
		        <input id="input-name" validate value="{{discountValue}}" name='discountValue' type="text" class="form-control ">
		        <span>元</span>
	        </div>
	      </div>
	  </td>
	</tr>
  </table>
</form>
</script>
<!--新增/修改房类模板 end-->
<script type="text/javascript">
  seajs.use('controllers/house/estateDiscountList')
</script>